{% extends "base.html" %}

{% block container %}
    <div class="card">
        <div class="card-header">
            <h5 class="card-title">Log-in</h5>
        </div>
        <div class="card-body">
            {% if form.erros %}
                <p>Your username and password did not match. Try again.</p>
            {% else %}
                <p>Please, use the following form to login:</p>
            {% endif %}
                <form method="post" action="{% url 'login' %}">
                    {% csrf_token %}
                    {{form.as_p}}
                    <input type="hidden" name="next" value="{{next}}"/>
                    <button type="submit" class=" btn btn-dark">Entry</button>
                </form>
        </div>
    </div>
{% endblock %}
